.form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0009;
    position: relative;
    width: 100%;
    max-width: 350px;

}
.form_x{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color:#D85D5D;
}
.form_x:hover {
    transform: scale(1.2);
    transition: transform 100ms ease;

}
.form_title{
   
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;

}
.form_div{
   
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;

}
.form_label{
    
    font-size: 14px;
    font-weight: 700;
    color: #000a;
}
.form_input{
    padding: 7px 15px;
    background-color: #F9FAFC;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 700;
    font-family:inherit ;

}
.form_btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #bb9b55;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.form_btn:hover{
    filter: 1px ;
    transform: scale(1.3);
    filter:(1.8) ;
    transition: filter 100ms ease;
}
/* .form_input::placeholder{ color: rebeccapurple;} */
