.App{
    padding-bottom: 60px;
}

.user_coantiner{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
}
    .form_container{
        
    width: 100%;
    min-height: 100vh;
    background-color:#0001;
    backdrop-filter: blur(2px);
    /* position: fixed;  no puede ser absolute para que se mueva   */
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;

    }
.desable_form{
    display: none;

}
.App_container-title{
    display: flex;
    
}
.App_btn{
    width:100% ;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #555a88;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 150ms ease, box-shadow 150ms ease;
   
}
.App_btn:hover{

    transform: scale(1.4);
    box-shadow: 0 0 10px #0005;
    transition: transform 150ms ease, box-shadow 150ms ease;

}
.App_conainer-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}