@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

/* ---- RESET ---- */
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
  }
  h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  button {
    border: none;
  }
  input {
    outline: none;
  }